.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.jumbotron{
  width: 100%;
  height: 400px;
  
  color : white;
  background-image: url('./background.jpg');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #eed8d8;
  border-style: none;
  float: none;
  padding: 100px;

}


.sortButtons
{margin-top: 80px;}

.buttonIn{
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.more {margin-top: 15px;} 

