

$메인칼라 : ff0000;


.wow{
    opacity: 0;
}

.wow-entet.active{
    opacity: 1;
    transition: all 500ms;

}

.red{
    color : $메인칼라;
};

.my-alret {
    background-color: #eeeeee;
    padding:20px;
    border-radius: 5px;
    max-width: 500px;
    width: 100%;
    margin: auto;
}

.my-alret2 {
    @extend .my-alret;
    background-color: #ffe591;
}



.my-alret p{
    margin-bottom: 0;
}